<div class="container my-5">
    <h2>Data Mahasiswa</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>NPM</th>
          <th>Nama Mahasiswa</th>
          <th>Prodi</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Data Fakultas akan di-loop di sini -->
        <tr>
          <td>2226240062</td>
          <td>Calista Vania</td>
          <td>Sistem Informasi</td>
        </tr>
        <tr>
            <td>226240007</td>
            <td>Felicia</td>
            <td>Manajemen</td>
          </tr>
          <tr>
      </tbody>
    </table>
  </div>